<!-- templates/registration/signup.html -->
{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
  <br>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6 border text-left">
          <h2>Sign up</h2>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="row justify-content-center">
                <div class="col-3">
                  <button type="submit">Sign Up</button>
                </div>
              </div>
            </form>
          <br><br>
        </div>
      </div>
    </div>
{% endblock %}